<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#08C" />
    <title>Arch Linux - grub 2:2.12-3 (x86_64)</title>
    <link rel="stylesheet" href="archwikipackage.css"> <!-- replace this if its renamed.. -->
    
</head>
<body>
<div id="pkgdetails" class="box">
    <h2>PACKAGENAMEEXAMPLE</h2>



    <div itemscope itemtype="http://schema.org/SoftwareApplication">
    <meta itemprop="name" content="grub"/>
    <meta itemprop="version" content="2:2.12-3"/>
    <meta itemprop="softwareVersion" content="2:2.12-3"/>
    <meta itemprop="fileSize" content="7145115"/>
    <meta itemprop="dateCreated" content="2024-09-10"/>
    <meta itemprop="datePublished" content="2024-09-12"/>
    <meta itemprop="operatingSystem" content="Arch Linux"/>
    <div class="itemprop" itemprop="provider" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="Tobias Powalowski"/>
    </div>
    <table id="pkginfo">
        <tr>
            <th>Architecture:</th>
            <td>x86_64</td>
        </tr><tr>
            <th>Repository:</th>
            <td>Core</td>
        </tr>
        
        
        
        <tr>
            <th>Description:</th>
            <td class="wrap" itemprop="description">Description</td>
        </tr><tr></td>
        </tr><tr>
            <th>License(s):</th>
            <td class="wrap">LICENSE</td>
        </tr>
        
        
        </tr>


</td>
        </tr>
        
        
        <tr>
            <th>Maintainers:</th>
            
            <td>
                <p>MAINTAINER</p>
                <p>MAINTAINER</p>
                <p>MAINTAINER</p>
            
                
            </td>
            
        </tr><tr>
            <th>Package Size:</th>
            <td>SIZE</td>
        </tr><tr>
            <th>Installed Size:</th>
            <td>SIZE</td>
        </tr><tr>
            <th>Last Packager:</th>
            <td>
            <p>LAST PACKAGER</p>
            </td>
        </tr><tr>
            <th>Build Date:</th>
            <td>1970-01-01 12:00:00 UTC</td>
        </tr><tr>
            <th>Signed By:</th>
            <p>SIGNER</p>
        </tr><tr>
            <th>Signature Date:</th>
            <td>1970-01-01 12:00:00 UTC</td>
        </tr><tr>
            <th>Last Updated:</th>
            <td>1970-01-01 12:00:00 UTC</td>
        </tr>
        
        
    </table>
    </div>

    <div id="metadata">
        
        <div id="pkgdeps" class="listing">
            <h3 title="grub has the following dependencies">
                Dependencies (num)</h3>
            <ul id="pkgdepslist">
                

<li>
    <p>PACKAGE DEPENDENCIES</p>
</li>

<li>
    <p>PACKAGE DEPENDENCIES</p>
</li>

<li>
    <p>PACKAGE DEPENDENCIES</p>
</li>

<li>
    <p>PACKAGE DEPENDENCIES</p>
</li>



            </ul>
        </div>
        
        
        <div id="pkgreqs" class="listing">
            <h3 title="Packages that require grub">
                Required By (num)</h3>
            <ul id="pkgreqslist">
                

                <li>
                    <p>PACKAGE DEPENDENCIES</p>
                </li>

                <li>
                    <p>PACKAGE DEPENDENCIES ( optional )</p>
                </li>


            </ul>
        </div>



        <div id="footer">
        
        </div>
    </div>
    

</body>
</html>
