<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arch Linux Package Details</title>
  <link rel="stylesheet" href="packagetemplate.css"> 

</head>
<body>

  <div class="container">
    

    <div class="header">
      <h1>Package-Name</h1>
    </div>

    <div class="package-info">
      <div>
        <strong>Version:</strong>
        <p>1.0.0</p>
      </div>
      <div>
        <strong>Architecture:</strong>
        <p>x86_64</p>
      </div>
      <div>
        <strong>Maintainer:</strong>
        <p>Person <span class="email">(email@example.com)</span></p>
      </div>
    </div>

    
    <div class="section-title">Description</div>
    <p>PACKAGE DESCRIPTION</p>

    
    <div class="section-title">Dependencies</div>
    <div class="dependencies">
      <ul>
        <li><span>Package</span> - Package desc.. <!--duplicate the li code for a package -->
      </ul>
    </div>


    <div class="section-title">Optional Dependencies</div>
    <div class="dependencies">
      <ul>
        <li><span>package</span> - desc</li> <!--duplicate the li code for a package -->
      </ul>
    </div>

   


  </div>

</body>
</html>
